/scilter/target/
/nanimparser/target/
/font2nanim/target/
/gif2nanim/target/
/nanimenc/target/
/nanimdec/target/
/nanimls/target/
/nanimmerge/target/
/nanimrename/target/
/nanimview/target/
/nanimspeed/target/
/nanimopt/target/
/sheet2nanim/target/
/nanimstudio/target/
/nimageopt/target/
/installer/target/
/packages/generic/target/
/packages/deb/target/